.form-group {
  position: relative;
  margin-bottom: 25px;
  padding: 0;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    margin-bottom: 30px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $secondary_light;
    transition: .5s;
  }

  label {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: .75rem;
    color: $secondary_light;
    transition: .5s;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      font-size: 1rem;
      bottom: 20%;
    }

    svg {
      margin-right: 15px;
      fill: #fff;
    }
  }

  .form-control {
    padding: 5px 10px 5px;
    height: auto;
    font-size: .875rem;
    color: #fff;
    background: transparent;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      font-size: 1rem;
    }
  }

  &.in-focus {

    &::before {
      height: 2px;
      background: $primary;
    }

    label {
      bottom: 75%;
      color: $primary;
      font-size: .75rem;

      @media (min-width: map_get($grid-breakpoints, lg)) {
        font-size: .875rem;
        bottom: 80%;
      }

    }
  }
}

form {
  .wpcf7-not-valid-tip {
    display: none;
  }

  .wpcf7-response-output {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 20px;
    text-align: left;
    font-size: .75rem;
    color: #fff;
  }
}